<% include header %>

<section id="cart_items">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="cart_info text-center">
          <h1>Tank you for your order.</h1>

          <p>
            <a href="/" class="btn btn-default get" type="submit">Go to the Homepage</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<% include footer %>