<% include header %>

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <% include sidebar %>
      </div>

      <div class="col-sm-9 padding-right">
        <div class="product-details"><!--product-details-->
          <div class="col-sm-5">
            <div class="view-product">
              <img src="/images/product-details/1.jpg" alt="" />
            </div>
          </div>
          <div class="col-sm-7">
            <div class="product-information"><!--/product-information-->
              <h2>Anne Klein Sleeveless Colorblock Scuba</h2>
              <span>
                <span>US $59</span>
                <label>Quantity:</label>
                <input type="text" value="3" />
                <button type="button" class="btn btn-fefault cart">
                  <i class="fa fa-shopping-cart"></i>
                  Add to cart
                </button>
              </span>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa doloremque quisquam neque ea totam temporibus quas fuga, asperiores nulla atque saepe eum. Non maiores atque, porro asperiores neque? Laudantium, facere. Rerum sed dicta dolore reiciendis recusandae tempora nostrum ex beatae omnis voluptatibus quis delectus, quia maxime unde qui quidem cumque repellat aperiam.
              </p>
            </div><!--/product-information-->
          </div>
        </div><!--/product-details-->
      </div>
    </div>
  </div>
</section>

<% include footer %>