<% include header %>

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <% include sidebar %>
      </div>

      <div class="col-sm-9 padding-right">
        <div class="features_items"><!--features_items-->
          <h2 class="title text-center">Features Items</h2>
          
          <div class="col-sm-4">
            <div class="product-image-wrapper">
              <div class="single-products">
                <div class="productinfo text-center">
                  <a href="/product">
                    <img src="/images/shop/product12.jpg" alt="" />
                  </a>
                  <h2>$56</h2>
                  <p>
                    <a href="/product">
                      Easy Polo Black Edition
                    </a>
                  </p>
                  <a href="/cart" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>
              </div>
            </div>
          </div>

        </div><!--features_items-->
      </div>
    </div>
  </div>
</section>

<% include footer %>