<div class="left-sidebar">
  <h2>Category</h2>
  <div class="panel-group category-products" id="accordian"><!--category-productsr-->
    <% for(var i = 0; i < sidebarCategories.length; i++) { %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a href="/category/<%= sidebarCategories[i].id %>"><%= sidebarCategories[i].get("name") %></a>
        </h4>
      </div>
    </div>
    <% } %>
  </div><!--/category-products-->

</div>